@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Medigo People Life</h1>
    <p>Visit  <a href="https://medigo.com">Medigo GMBH </a> for more Claim Management</p>
</div>
